In [4]:
import os
import sys
import shutil
import xarray as xr
import hydroStats
import array
import random
import numpy as np
import csv
import datetime
import pandas as pd
from deap import algorithms
from deap import base
from deap import benchmarks

from deap import creator
from deap import tools
from osgeo import gdal
import pandas
import cftime
import multiprocessing
import time
from configparser import ConfigParser
import glob
from subprocess import Popen, PIPE
import matplotlib.pyplot as plt
import ast

from sys import platform
import pickle
import stat
import cartopy.crs as ccrs
import cartopy.feature as cfeature
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
## Set global parameter
global gen

gen = 0
WarmupDays = 0
n_station = 2 
frequen = 'd'

ModuleNotFoundError: No module named 'openpyxl'

In [7]:
print('test')

test

In [9]:
df = pd.read_excel('/work/ch0636/g300128/data/GRDC_Stations.xlsx', sheet_name='station_catalogue')

In [19]:
df.where(df.sub_reg==1041)

,grdc_no,wmo_reg,sub_reg,river,station,country,lat,long,area,altitude,...,m_start,m_end,m_yrs,m_miss,t_start,t_end,t_yrs,lta_discharge,r_volume_yr,r_height_yr
0,1104150.0,1.0,1041.0,OUED CHELIF,SIDI BELATAR,DZ,36.02,0.27,43750.0,2.0,...,1976.0,1977.0,2.0,0.0,1976.0,2001.0,26.0,15.027,0.473891,10.831805
1,1104200.0,1.0,1041.0,OUED MINA,OUED EL-ABTAL,DZ,35.50,0.68,6635.0,205.0,...,1976.0,1978.0,3.0,0.0,1976.0,1978.0,3.0,2.578,0.0813,12.253174
2,1104300.0,1.0,1041.0,OUED GHIOU,AMMI MOUSSA,DZ,35.87,1.12,2398.0,140.0,...,1976.0,1979.0,4.0,0.0,1976.0,1979.0,4.0,3.195,0.100758,42.017314
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df =df.where(df.wmo_reg==6.0)
d = df.dropna()

In [29]:
d

,grdc_no,wmo_reg,sub_reg,river,station,country,lat,long,area,altitude,...,m_start,m_end,m_yrs,m_miss,t_start,t_end,t_yrs,lta_discharge,r_volume_yr,r_height_yr
7771,6111100.0,6.0,6111.0,RIO MINO,FOZ DO MOURO,PT,42.077000,-8.391000,15407.2,12.0,...,1976.0,1984.0,9.0,0.000000,1976.0,2023.0,48.0,231.287,7.293867,473.406384
7772,6112070.0,6.0,6121.0,RIO PAIVA,CASTRO DAIRE,PT,40.892000,-7.933000,288.3,459.0,...,1976.0,1984.0,9.0,0.000000,1972.0,1985.0,14.0,6.997,0.220657,765.374235
7773,6112080.0,6.0,6121.0,RIO TAMEGA,PONTE CANAVEZES (R.E.),PT,41.195000,-8.161000,3163.3,67.0,...,1976.0,1984.0,9.0,0.000000,1955.0,1987.0,33.0,70.98,2.238425,707.623457
7775,6112100.0,6.0,6121.0,RIO DOURO,POCINHO,PT,41.159000,-7.114000,81293.9,113.0,...,1973.0,1975.0,3.0,0.000000,1947.0,1975.0,29.0,387.786,12.229219,150.432189
7776,6113050.0,6.0,6131.0,TAGUS RIVER,ALMOUROL,PT,39.461000,-8.375000,67482.3,19.0,...,1973.0,1990.0,18.0,5.882353,1973.0,2024.0,52.0,302.04,9.525133,141.150101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10820,6984700.0,6.0,6841.0,KAZIKUMUKHSKOYE KOYSU,GUERGUEBIL,RU,42.386667,46.960556,1850.0,655.0,...,1978.0,1987.0,10.0,10.000000,1978.0,1987.0,10.0,13.449,0.424128,229.258197
10821,6984800.0,6.0,6841.0,KARA-SAMUR,LUCHEK,RU,41.611667,47.307222,481.0,1436.0,...,1965.0,1984.0,20.0,0.000000,1965.0,1987.0,23.0,8.784,0.277012,575.90899
10823,6987050.0,6.0,6870.0,PSEZUAPSE,TAT'YANOVKA,RU,43.959167,39.409167,255.0,-999.0,...,1978.0,1987.0,10.0,0.000000,1978.0,1987.0,10.0,13.962,0.440306,1726.688753
10824,6987100.0,6.0,6870.0,SHAKHE,SOLOKHAUL,RU,43.799444,39.678056,423.0,133.0,...,1978.0,1987.0,10.0,0.000000,1978.0,1987.0,10.0,29.333,0.925045,2186.868766
10825,6987150.0,6.0,6870.0,SOCHI,PLASTUNKA,RU,43.680556,39.822222,238.0,-999.0,...,1978.0,1987.0,10.0,0.000000,1978.0,1987.0,10.0,15.585,0.491489,2065.077983